.body{
  padding-top: 85px;
}

.jumbotron{
  background-color: transparent;
}

.image{
  display: none;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.chkbox{
  margin: 5px 5px 5px 5px;
}

.header{
  padding-top: 7px;
}

.btn.LoadMore{
  margin-left: 45%;
}

.selectpicker{
  size: false;
  data-size: 3;
}

.dropdown.category-options{
  position: right;
}

.list-item{
  margin-top: 25px;
}

.avatar{
  border-radius: 100%;
  width: 150px;
}

.caption-home{
  text-align: center;
}

.thumbnail{
  height: 450px;
}
